.buttons{
    margin-left: 33%;
    width: 35%;
}
#button{
    margin: 10px;
}
form{
    margin-left: 35%;
    width: 30%;
}
#searchAndTable{
    margin-left: 10%;
    width: 80%;
}
img{
    width: 100px;
    height: 70px;
}