<!--buttons to route between components-->
<div class="buttons">
  <button class="btn btn-outline-primary" id="button" (click)="routeToCoupons()">All Coupons</button>
  <button class="btn btn-outline-primary" id="button" (click)="routeToByDate()">Coupons by Date</button>
  <button class="btn btn-outline-primary" id="button" (click)="routeToByType()">Coupons by Type</button>
</div>

<div>
  <!--input to enter price-->
  <form novalidate [formGroup]="myForm">
    <div class="form-group">
      <legend>Enter Price</legend>
      <input (change)="getCouponsByPrice()" type="number" class="form-control" formControlName="price" [(ngModel)]="couponsGet.price" 
        [ngClass]="{ 'is-invalid': myForm.controls.price.errors && (myForm.controls.price.touched || myForm.controls.price.dirty) }">
      <div *ngIf="myForm.controls.price.errors && (myForm.controls.price.touched || myForm.controls.price.dirty)" class="invalid-feedback">
        <small *ngIf="myForm.controls.price.errors.required">Price is required</small>
        <small *ngIf="myForm.controls.price.errors.min">Price must be at least 1</small>
      </div>
    </div>
  </form>

  <br>
  <!--input for search function-->
  <input *ngIf="showCouponsByPrice" class="form-control" type="text" [(ngModel)]="searchString" placeholder="Search.." id="searchAndTable">

  <!--table for coupons by price from DB-->
  <table *ngIf="showCouponsByPrice" id="searchAndTable" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Message</th>
        <th>Price</th>
        <th>Image</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coup of couponsByPrice | filter : 'title' : searchString">
        <td (click)="routeToUpdate(coup.id)">{{coup.id}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.title}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.startDate}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.endDate}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.amount}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.type}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.message}}</td>
        <td (click)="routeToUpdate(coup.id)">{{coup.price}}</td>
        <td (click)="routeToUpdate(coup.id)"><img [src]=coup.image></td>
        <td class="text-center"><button type="button" (click)="deleteCoupon(coup.id)" class="btn btn-danger btn-sm">
          <i class="fas fa-trash-alt"></i>
        </button></td>
      </tr>
    </tbody>
  </table>
</div>