<!--navigation bar-->
<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Company
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/createcompany"><i class="fas fa-plus"></i>Add Company</a>
            <a class="dropdown-item" routerLink="/getallcompanies"><i class="fas fa-list-ul"></i> Get All Companies</a>
            </div>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/createcustomer"><i class="fas fa-plus"></i>Add Customer</a>
                <a class="dropdown-item" routerLink="/getallcustomers"><i class="fas fa-list-ul"></i> Get All Customers</a>
            </div>
        </li>
        <li class="nav-item active">
        <a class="nav-link" (click)="logOut()">log out <i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>
<br><br>
<br><br>
<router-outlet></router-outlet>
<br><br>
<br><br>
